@page "/details"

<PageTitle>Details Page</PageTitle>

<h3>Details1</h3>

<div class="container">
  <h3 class="p-3 text-center">Star Wars 3 Popular Planets</h3>
  
  <table class="table table-striped table-bordered">
  
    <thead>

      <tr>
        <th>Planet Number</th>
        <th>Name</th>
        <th>Image</th>
        <th>Info</th>
      </tr>

      <tr>
        <td>#1</td>
        <td>Tatooine</td>
        <td>
          <img src="https://www.denofgeek.com/wp-content/uploads/2021/04/star-wars-tatooine.jpeg" height="100" width="100">
        </td>
        <td>Tatooine is the middle of nowhere, it’s actual the heart of the entire saga: Anakin Skywalker was born there and Luke Skywalker was raised there.</td>
      </tr>

      <tr>
        <td>#2</td>
        <td>Hoth</td>
        <td>
          <img src="https://www.denofgeek.com/wp-content/uploads/2021/04/star-wars-hoth.jpeg" height="100" width="100">
        </td>
        <td>While Hoth gets some flak for being a prime example of every science fiction planet having one biome and one only, the Hoth battle plays with scale in a great way. The Rebels build their base underground in the snow and ice, so you never forget they’re on an inhospitable planet where they’ve been forced to hide from the Empire. Here too we have animals as an important part of the plot, with the wampa attack taking Luke Skywalker out of commission.</td>
      </tr>

      <tr>
        <td>#3</td>
        <td>Korriban/Moraband</td>
        <td>
          <img src="https://www.denofgeek.com/wp-content/uploads/2021/04/star-wars-korriban.jpg" height="100" width="100">
        </td>
        <td>Few places remain as mysterious as Korriban, the ancient homeworld of the Sith species who spent millennia practicing magic before a faction of renegade dark side Force users escaping a war with the Jedi discovered the planet. Korriban’s native species and these Dark Jedi eventually formed the Sith Order, the greatest enemy of the Jedi. Together, they built a great Sith Empire that waged war against the Republic, with Korriban as its center.</td>
      </tr>

    </thead>
  </table>
</div>