@page "/swapi"

@inject HttpClient Http
@using System.Text.Json
@using System.Text.Json.Serialization
using System.Collections.Generic;
using Newtonsoft.Json;
using System;

<h3>SWAPI Fetcher</h3>


@if (Planets != null)
{
    <h4>Star Wars Films</h4>
    <table>

        <thead>
            <tr>
                <th>Name</th>
                <th>Rotation Period</th>
                <th>Orbital Period</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var planet in Planets)
            {
                <tr>
                    <td>@planet.Name</td>
                    <td>@planet.Rotation_Period</td>
                    <td>@planet.Orbital_Period</td>
                </tr>
            }
        </tbody>
      </table>
        
}

<button @onclick="OnInitializedAsync">Fetch Data</button>

@code {

    HttpRequestMessage requestMessage;
    HttpResponseMessage responseMessage;
    HttpClient http;

    private List<Planet> Planets;

    protected override async Task OnInitializedAsync()
    {
        http = new HttpClient();
        requestMessage = new HttpRequestMessage
        {
            Method = HttpMethod.Get,
            RequestUri = new Uri(@"https://swapi.dev/api/planets/3/")
        };

        responseMessage = await http.SendAsync(requestMessage);
        Planets = JsonSerializer.Deserialize<List<Planet>>(await responseMessage.Content.ReadAsStringAsync());
    }
}
