@page "/swapi"

@inject HttpClient http;
@using System.Text.Json
@using System.Text.Json.Serialization


<h3>SWAPI Fetcher</h3>

<button class="btn btn-success" @onclick="@GetPlanet">Fetch Data</button> <br/>


@if (Planets != null)
{
    <table>

        <thead>
            <tr>
                <th>Name</th>
                <th>Rotation Period</th>
                <th>Orbital Period</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var planet in @Planets)
            {
                <tr>
                    <td>@planet.Name</td>
                    <td>@planet.Rotation_Period</td>
                    <td>@planet.Orbital_Period</td>
                </tr>
            }
        </tbody>

      </table>
}


@code {

    List<Planet> Planets = new List<Planet>();

    public async Task GetPlanet() {

        Planets = await http.GetFromJsonAsync<List<Planet>>(@"https://swapi.dev/api/planets/3/");

    }
}
